<?xml version="1.0" encoding="UTF-8"?>
<module>
    <name>po_linkedproduct_features</name>
    <displayName><![CDATA[Linkowanie po cechach i rodzinie]]></displayName>
    <version>1.0.1</version>
    <author><![CDATA[Przemysław Markiewicz]]></author>
    <tab><![CDATA[administration]]></tab>
    <is_configurable>1</is_configurable>
    <need_instance>0</need_instance>
    <limited_countries></limited_countries>
    <description><![CDATA[Moduł do linkowania produktów po cechach i rodzinie.]]></description>
    <confirmUninstall><![CDATA[Czy na pewno chcesz odinstalować moduł?]]></confirmUninstall>
    <compatibility>
        <min>8.0.0</min>
        <max>8.99.99</max>
    </compatibility>
</module>
